ColumnLimit: 100
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  IndentBraces: false
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false
  BeforeElse: true
  AfterClass: false
AlignEscapedNewlines: Left
NamespaceIndentation: All
PointerAlignment: Left
