CompileFlags:
  Remove: [-forward-unknown-to-host-compiler]

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - concurrency-*
      - cppcoreguidelines-*
      - google-*
      - hicpp-*
      - misc-*
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - bugprone-macro-parentheses
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-macro-usage
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - cppcoreguidelines-pro-bounds-constant-array-index
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-const-cast
      - cppcoreguidelines-pro-type-union-access
      - cppcoreguidelines-pro-type-reinterpret-cast
      - cppcoreguidelines-pro-type-vararg
      - google-readability-namespace-comments
      - google-readability-todo
      - hicpp-avoid-c-arrays
      - hicpp-explicit-conversions
      - hicpp-no-array-decay
      - hicpp-vararg
      - modernize-avoid-c-arrays
      - modernize-use-trailing-return-type
      - misc-non-private-member-variables-in-classes
      - misc-no-recursion
      - performance-unnecessary-value-param
      - readability-avoid-const-params-in-decls
      - readability-magic-numbers
      - readability-suspicious-call-argument
